@import "../abstracts/variables";
@import "../abstracts/mixin";

.header {
  background: $allBackgroudColor;
  padding-bottom: 30px;
  .topDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    &__texts {
      &__h1 {
        width: 507px;
        color: #21282f;
        font-family: Roboto;
        font-size: 46px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      &__p {
        width: 352px;
        color: #21282f;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        margin-top: 20px;
      }
      &__btn {
        @include blackButton;
        color: #fff;
        margin-top: 50px;
      }
    }
    img {
      width: 650px;
    }
  }
  .bottomDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 65px;
    padding: 35px 0;
    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 43px 54px;
      background: #fff;
      &__PGT {
        color: #f4555a;
        font-family: Roboto Slab;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 24px 0 36px;
      }
      &__texts {
        width: 238px;
        color: #2d404e;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

.oneSystem {
  background-image: url("./images/girl-good 1.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 713px;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1240px) {
  .header {
    .topDiv {
      &__texts {
        &__h1 {
          width: 437px;
          font-size: 36px;
        }
      }
      img {
        width: 400px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .header {
    .topDiv {
      &__texts {
        display: flex;
        flex-direction: column;
        &__h1 {
          text-align: center;
        }
        &__p {
          width: 407px;
          text-align: center;
        }
        &__btn {
          @include blackButton;
          color: #fff;
          margin-top: 50px;
          align-self: center;
        }
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .header {
    .topDiv {
      &__texts {
        &__h1 {
          width: 100%;
          font-size: 30px;
        }
        &__p {
          width: 100%;
        }
      }
      img {
        width: 100%;
      }
    }
    .bottomDiv {
      &__card {
        padding: 18px 29px;
      }
    }
  }
}
